<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <!--
  <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" /> -->
    <link type="text/css" rel="stylesheet" href="../css/style.css">
    <style>
        tr a {
            text-decoration: underline;
        }
    </style>
     <script>
    </script>
    <title>More Recipes - Welcome to Dashboard!</title>
</head>

<body class="">
    <div id="wrapper">
        <div class="row">
            <div id="navi" class="col s12 m4 l3" role="navigation" >
                <div class="hide-on-small-only white" id="side-menu">
                    <div class="row" id="profile">
                        <div class="col m4">
                            <img src="../../imgs/profile.jpg" class="circle responsive-img" alt="">
                        </div>
                        <div>
                            <h5>Samuel Longshak</h5>
                            <i class="material-icons">account_circle</i> Profile <br>
                            <i class="material-icons">settings</i> Settings <br>
                            <i class="material-icons">exit_to_app</i> Logout
                        </div>
                    </div>
                    <div class="divider"></div>
                    <div class="nav-wraper">
                        <div class="row">
                            <div class="col m12">
                                <a href="index.html"><i class="material-icons">home</i> Home </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col m12">
                                <a href="add_recipes.html"><i class="material-icons">note_add</i> Add Recipes </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col m12">
                                <a href="view_recipes.html"><i class="material-icons">view_list</i> View Recipes </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col m12">
                                <a href="favorites.hmtl"><i class="material-icons">favorite</i> Favorites </a>
                            </div>
                        </div>
                         <div class="row">
                            <div class="col m12">
                                <a href="notifications.html"><i class="material-icons">notifications</i><span class="new badge red">4</span>Notifications </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Moblie Menu -->
                 <!-- <div class="row hide-on-med-and-up" id="profile ">
                    <div class="col m4 s12 white">
                        <img src="../../imgs/profile.jpg" class="circle responsive-img" alt="">
                    </div>
                    <div>
                        <h5>Samuel Longshak</h5>
                      <br>
                        Settings <br>
                       
                    </div>

                </div>            
            -->

                <ul id="dropdown1" class="dropdown-content">
                    <li><a href="#!"><i class="material-icons">account_circle</i> Profile </a></li>
                    <li><a href="#!"><i class="material-icons">settings</i></a></li>
                    <li class="divider"></li>
                    <li><a href="#!"><i class="material-icons">exit_to_app</i> Logout</a></li>
                </ul>
                
                <nav class="hide-on-med-and-up">
                    <div class="nav-wrapper white">
                        <a href="#" data-activates="nav-mobile" class="button-collapse hide-on-med-and-up"><i class="material-icons">menu</i></a>
                        <a href="#" class="brand-logo center"><h5></h5></a>
                        <ul id="nav-moble" class="right hide-on-med-and-up">
                             <li>
                                <a href="" class="dropdown-button" data-activates="dropdown1">
                                   <!--  <img src="../../imgs/profile.jpg" class="circle responsive-img col s3 right" alt="">
                                    
                                -->
                                   Profile
                                    <i class="material-icons right">arrow_drop_down</i>
                                </a>
                            </li>
                        </ul>
                    </div>                
                </nav>

                <ul id="nav-mobile" class="side-nav">
                    <li><a href="index.hmtl"><i class="material-icons">home</i> Home </a></li> 
                    <li><a href="add_recipes.html"><i class="material-icons">note_add</i> Add Recipes </a></li> 
                    <li><a href="view_recipes.html"><i class="material-icons">view_list</i> View Recipes </a></li> 
                    <li><a href="favorites.html"><i class="material-icons">favorite</i> Favorites </a></li>                   
                    <li><a href="notification.html"><i class="material-icons">notifications</i><span class="new badge red">4</span>Notifications </a></li>                   
                </ul>

            </div>

            <div class="col s12 m8 l9" id="main-content">
              <div class="transparent-bg">
                <div class="row">
                  <div class="col s12 m4">
                    <div class="card">
                      <div class="card-image">
                        <img src="../imgs/post_4.jpg">
                      </div>
                      <div class="card-content">
                        <p>By <a href="recipe_by.html">Madung Gyang</a></p>
                        <p><a href="meal_type.html">Lunch</a></p>
                        <a href="recipe_details.html"><span class="card-title">Chicken Soup for Lunch and Dinner</span></a>
                        <div class="row">
                          <div class="col m4"><span class="left"><i class="material-icons">remove_red_eye</i> 3</span></div>
                          <div class="col m4"> &nbsp;&nbsp;&nbsp; <span class=""><i class="material-icons">comment</i> 5</span></div>
                          <div class="col m4"><span class="right"><i class="material-icons">favorite</i> 5</span></div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col s12 m4">
                    <div class="card">
                      <div class="card-image"> 
                        <img src="../imgs/post_5.jpg">
                      </div>
                      <div class="card-content">
                        <p>By <a href="recipe_by.html">Samuel Longshak</a></p>
                        <p><a href="meal_type.html">Dessert</a></p>
                        <a href="recipe_details.html"><span class="card-title">Italian Chicken Burritos with Onions</span></a>
                        <div class="row">
                          <div class="col m4"><span class="left"><i class="material-icons">remove_red_eye</i> 3</span></div>
                          <div class="col m4"> &nbsp;&nbsp;&nbsp; <span class=""><i class="material-icons">comment</i> 5</span></div>
                          <div class="col m4"><span class="right"><i class="material-icons">favorite</i> 5</span></div>
                        </div>   
                      </div>
                    </div>
                  </div>
                  <div class="col s12 m4">
                    <div class="card">
                      <div class="card-image"> 
                        <img src="../imgs/post_6.jpg">
                      </div>
                      <div class="card-content">
                        <p>By <a href="recipe_by.html">Tapsuk Samson</a></p>
                        <p><a href="meal_type.html">Dessert</a></p>
                        <a href="recipe_details.html"><span class="card-title">Yummy Strawberry Pancake</span></a>
                        <div class="row">
                          <div class="col m4"><span class="left"><i class="material-icons">remove_red_eye</i> 3</span></div>
                          <div class="col m4"> &nbsp;&nbsp;&nbsp; <span class=""><i class="material-icons">comment</i> 5</span></div>
                          <div class="col m4"><span class="right"><i class="material-icons">favorite</i> 5</span></div>
                        </div>   
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col s12 m4">
                    <div class="card">
                      <div class="card-image">
                        <img src="../imgs/post_4.jpg">
                      </div>
                      <div class="card-content">
                        <p>By <a href="recipe_by.html">Madung Gyang</a></p>
                        <p><a href="meal_type.html">Lunch</a></p>
                        <a href="recipe_details.html"><span class="card-title">Chicken Soup for Lunch and Dinner</span></a>
                        <div class="row">
                          <div class="col m4"><span class="left"><i class="material-icons">remove_red_eye</i> 3</span></div>
                          <div class="col m4"> &nbsp;&nbsp;&nbsp; <span class=""><i class="material-icons">comment</i> 5</span></div>
                          <div class="col m4"><span class="right"><i class="material-icons">favorite</i> 5</span></div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col s12 m4">
                    <div class="card">
                      <div class="card-image"> 
                        <img src="../imgs/post_5.jpg">
                      </div>
                      <div class="card-content">
                        <p>By <a href="recipe_by.html">Samuel Longshak</a></p>
                        <p><a href="meal_type.html">Dessert</a></p>
                        <a href="recipe_details.html"><span class="card-title">Italian Chicken Burritos with Onions</span></a>
                        <div class="row">
                          <div class="col m4"><span class="left"><i class="material-icons">remove_red_eye</i> 3</span></div>
                          <div class="col m4"> &nbsp;&nbsp;&nbsp; <span class=""><i class="material-icons">comment</i> 5</span></div>
                          <div class="col m4"><span class="right"><i class="material-icons">favorite</i> 5</span></div>
                        </div>   
                      </div>
                    </div>
                  </div>

                  <div class="col s12 m4">
                    <div class="card">
                      <div class="card-image"> 
                        <img src="../imgs/post_6.jpg">
                      </div>
                      <div class="card-content">
                        <p>By <a href="recipe_by.html">Tapsuk Samson</a></p>
                        <p><a href="meal_type.html">Dessert</a></p>
                        <a href="recipe_details.html"><span class="card-title">Yummy Strawberry Pancake</span></a>
                        <div class="row">
                          <div class="col m4"><span class="left"><i class="material-icons">remove_red_eye</i> 3</span></div>
                          <div class="col m4"> &nbsp;&nbsp;&nbsp; <span class=""><i class="material-icons">comment</i> 5</span></div>
                          <div class="col m4"><span class="right"><i class="material-icons">favorite</i> 5</span></div>
                        </div>   
                      </div>
                    </div>
                  </div>
                </div>
                  <div class="row">         
                    <ul class="pagination center">
                      <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                      <li class="active teal"><a href="#!">1</a></li>
                      <li class="waves-effect"><a href="#!">2</a></li>
                      <li class="waves-effect"><a href="#!">3</a></li>
                      <li class="waves-effect"><a href="#!">4</a></li>
                      <li class="waves-effect"><a href="#!">5</a></li>
                      <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
                    </ul>
                  </div>
              </div>
            </div>

        </div>

        <footer class="page-footer white">
            <div class="center">
                © 2017 Copyright <a style="color: #039BE5" href="#">More Recipes</a>
            </div>
            <br>
        </footer>
        <!-- Footer ends here-->
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script>
        document.getElementById('side-menu').style.height = (window.innerHeight) + "px";
        //document.getElementById('main-content').style.height = (window.innerHeight - 50) + "px";

        $(".buttoncollapse").sideNav();
        $(document).ready(function() {
            $('.carousel').carousel();
        });

        (function($) {
            $(function() {

                $('.button-collapse').sideNav();
                $('.parallax').parallax();

            }); // end of document ready
        })(jQuery); // end of jQuery name space
    </script>
</body>

</html>