body {
 background: rgba(214, 208, 208, 0.69);
}

 .body {
  background: url('imgs/post_1.jpg'); 
  background-size: cover;
}

 #wrapper {
  background: rgba(22, 22, 22, 0.897);
}

.logo-container{
  padding-left: 3% !important;
}
.padding-left {
  padding-left: 50px;
}

.parallax-container-bottm {
  margin-bottom: 0px;
}
nav ul a,
nav .brand-logo {
  color: #444;
}
a {
  color: #444444;
}

.material-icons{
  display: inline-flex;
  vertical-align: top;
}
  
a:hover {
  color: #039BE5;
}

a .active {
  background: #ccc;
}

.pagination li.active { 
  background: #26a69a;
}

p {
  line-height: 2rem;
}

.justify {
  text-align: justify;
  padding: 5%;
}

.button-collapse {
  color: #26a69a;
}

#index-banner {
  height: 420px;
}

#header {
  background: rgba(238, 238, 238, 0.31);
}

footer div {
  color: #000;
}

.white-shadow {
  text-shadow: 1px 1px 3px #FFFFFF;
}

.black-shadow {
  text-shadow: 1px 1px 3px #000000;
}

.transparent-bg {
  background: rgba(255, 255, 255, 0.7);
  padding: 1%;
}

/* Signup page */

#container {
  background: red;
  position: absolute;
  top: 0px;
  height: 500px;
  width: 100%;  
}

  /* My recipes*/

  .my-recipe {
    margin: 0 auto;
    float: none !important;
  }

  /* loged in */

#welcome {
  color: #000;
}

#welcome > i {
  display: inline-block;
  padding-right: 1%;
  line-height: 0;
  vertical-align: middle;
}

.no-margin-bottom {
  margin-bottom: 0;
}

/* edit and delete btn */

.edit-btn {
  color: green;
  border: 1px solid black;
  padding: 1% 5%;
  border-radius: 4px;
  margin: 2%;
}

.del-btn {
  color: red;
  border: 1px solid black;
  padding: 1% 5%;
  border-radius: 4px;
  margin: 2%;
}

.edit-btn:hover {
  background: #c6ebe7;
}

.del-btn:hover {
  background: rgb(237, 197, 197);
}


// pagination 

.page-item, .page-link {
  cursor: pointer;
}

// profile page

.cards {
  margin-top: 20px;
  padding: 30px;
  background-color: rgba(214, 224, 226, 0.2);
  -webkit-border-top-left-radius:5px;
  -moz-border-top-left-radius:5px;
  border-top-left-radius:5px;
  -webkit-border-top-right-radius:5px;
  -moz-border-top-right-radius:5px;
  border-top-right-radius:5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.cards.hovercard {
  position: relative;
  padding-top: 0;
  overflow: hidden;
  text-align: center;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 1);
}
.cards.hovercard .card-background {
  height: 130px;
}
.card-background img {
  -webkit-filter: blur(25px);
  -moz-filter: blur(25px);
  -o-filter: blur(25px);
  -ms-filter: blur(25px);
  filter: blur(25px);
  margin-left: -100px;
  margin-top: -200px;
  min-width: 130%;
}
.cards.hovercard .useravatar {
  position: absolute;
  top: 15px;
  left: 0;
  right: 0;
}
.cards.hovercard .useravatar img {
  width: 100px;
  height: 100px;
  max-width: 100px;
  max-height: 100px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, 0.5);
}
.cards.hovercard .card-info {
  position: absolute;
  bottom: 14px;
  left: 0;
  right: 0;
}
.cards.hovercard .card-info .card-title {
  padding:0 5px;
  font-size: 20px;
  line-height: 1;
  color: #ffffff;
  text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.cards.hovercard .card-info {
  overflow: hidden;
  font-size: 12px;
  line-height: 20px;
  color: #737373;
  text-overflow: ellipsis;
}
.cards.hovercard .bottom {
  padding: 0 20px;
  margin-bottom: 17px;
}
.btn-pref .btn {
  -webkit-border-radius:0 !important;
}
.tabs-content.carousel  {
  height: 450px !important;
}
.tabs-content.carousel .carousel-item { height: 100%; }




@media (min-width: 320px) and (max-width: 498px) {
  #logo-container {
    width: 50%;
    margin-left: 3%; 
  } 
  
  #index-banner h1 {
    font-size: 320%;
    margin-top: 0%;
  }

  .tabs-content.carousel  {
    height: 650px !important;
  }

}